body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;

}


#titulo1{
    text-align: center;
    color: white;
}

.paragrafo1{
    text-align: center;
    color: white;  

}